---
import Layout from '../layouts/Layout.astro';

import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout>
<body>

    <Navbar />

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
            <h1 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">Privacy Policy</h1>
            <p class="mb-4 font-light">Last updated September 30, 2024</p>

            <div class="mb-8">
                <p class="mb-4 font-light">This Privacy Policy for Mesh Firm ApS (doing business as Mesh Firm) ('<b>we</b>', '<b>us</b>', or '<b>our</b>'), describes how and why we might access, collect, store, use, and/or share ('<b>process</b>') your personal information when you use our services ('<b>Services</b>'), including when you:</p>
                <ul class="list-disc pl-6 mb-4 font-light">
                    <li class="mb-2">Visit our website at https://sindre.ai, or any website of ours that links to this Privacy Policy.</li>
                    <li class="mb-2">Engage with us in other related ways, including any sales, marketing, or events.</li>
                </ul>
                <p class="mb-4 font-light">‍<b>Questions or concerns?</b> Reading this Privacy Policy will help you understand your privacy rights and choices. We are responsible for making decisions about how your personal information is processed. If you do not agree with our policies and practices, please do not use our Services. If you still have any questions or concerns, please contact us at magnus@meshfirm.com.</p>
            </div>

                
            <div class="mb-8">
                <h2 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white">SUMMARY OF KEY POINTS</h2>
                <p class="mb-4 font-light bold">This summary provides key points from our Privacy Policy, but you can find out more details about any of these topics by clicking the link following each key point or by using our table of contents below to find the section you are looking for.‍</p>
                <p class="mb-4 font-light">‍<b>What personal information do we process?</b> When you visit, use, or navigate our Services, we may process personal information depending on how you interact with us and the Services, the choices you make, and the products and features you use. Learn more about personal information you disclose to us.</p>
                <p class="mb-4 font-light">‍<b>Do we process any sensitive personal information?</b> Some of the information may be considered 'special' or 'sensitive' in certain jurisdictions, for example your racial or ethnic origins, sexual orientation, and religious beliefs. We do not process sensitive personal information.</p>
                <p class="mb-4 font-light">‍<b>Do we collect any information from third parties?</b> We may collect information from public databases, marketing partners, social media platforms, and other outside sources. Learn more about information collected from other sources.</p>
                <p class="mb-4 font-light">‍<b>How do we process your information?</b> We process your information to provide, improve, and administer our Services, communicate with you, for security and fraud prevention, and to comply with law. We may also process your information for other purposes with your consent. We process your information only when we have a valid legal reason to do so. Learn more about how we process your information.</p>
                <p class="mb-4 font-light">‍<b>In what situations and with which types of parties do we share personal information?</b> We may share information in specific situations and with specific categories of third parties. Learn more about when and with whom we share your personal information.</p>
                <p class="mb-4 font-light">‍<b>How do we keep your information safe?</b> We have adequate organisational and technical processes and procedures in place to protect your personal information. However, no electronic transmission over the internet or information storage technology can be guaranteed to be 100% secure, so we cannot promise or guarantee that hackers, cybercriminals, or other unauthorised third parties will not be able to defeat our security and improperly collect, access, steal, or modify your information. Learn more about how we keep your information safe.</p>
                <p class="mb-4 font-light">‍<b>What are your rights?</b> Depending on where you are located geographically, the applicable privacy law may mean you have certain rights regarding your personal information. Learn more about your privacy rights.</p>
                <p class="mb-4 font-light">‍<b>How do you exercise your rights?</b> The easiest way to exercise your rights is by submitting a data subject access request, or by contacting us. We will consider and act upon any request in accordance with applicable data protection laws.</p>
                <p class="mb-4 font-light">‍Want to learn more about what we do with any information we collect? Review the Privacy Policy in full.</p>
            </div>

            <div class="mb-8">
                    <h2 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white">1. What Information Do We Collect?</h2>
                    
                    <h3 class="mb-3 text-2xl font-bold text-gray-900 dark:text-white">Personal information you disclose to us</h3>
                    <p class="mb-4 font-light italic">In Short: We collect personal information that you provide to us.</p>
                    <p class="mb-4 font-light">We collect personal information that you voluntarily provide to us when you register on the Services, express an interest in obtaining information about us or our products and Services, when you participate in activities on the Services, or otherwise when you contact us.</p>
                    
                    <h4 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Personal Information Provided by You</h4>
                    <p class="mb-4 font-light">The personal information that we collect depends on the context of your interactions with us and the Services, the choices you make, and the products and features you use. The personal information we collect may include the following:</p>
                    <ul class="list-disc pl-6 mb-4 font-light">
                        <li>names</li>
                        <li>email addresses</li>
                        <li>passwords</li>
                    </ul>

                    <h4 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Sensitive Information</h4>
                    <p class="mb-4 font-light">We do not process sensitive information.</p>
                    
                    <p class="mb-4 font-light">All personal information that you provide to us must be true, complete, and accurate, and you must notify us of any changes to such personal information.</p>
                </div>

                <!-- Information automatically collected -->
                <div class="mb-8">
                    <h3 class="mb-3 text-2xl font-bold text-gray-900 dark:text-white">Information automatically collected</h3>
                    <p class="mb-4 font-light italic">In Short: Some information — such as your Internet Protocol (IP) address and/or browser and device characteristics — is collected automatically when you visit our Services.</p>
                    
                    <p class="mb-4 font-light">We automatically collect certain information when you visit, use, or navigate the Services. This information does not reveal your specific identity (like your name or contact information) but may include device and usage information, such as your IP address, browser and device characteristics, operating system, language preferences, referring URLs, device name, country, location, information about how and when you use our Services, and other technical information. This information is primarily needed to maintain the security and operation of our Services, and for our internal analytics and reporting purposes.</p>
                    
                    <p class="mb-4 font-light">Like many businesses, we also collect information through cookies and similar technologies.</p>
                    
                    <p class="mb-4 font-light">The information we collect includes:</p>
                    <ul class="list-disc pl-6 mb-4 space-y-2 font-light">
                        <li>
                            <span class="font-medium">Log and Usage Data:</span> Log and usage data is service-related, diagnostic, usage, and performance information our servers automatically collect when you access or use our Services and which we record in log files. Depending on how you interact with us, this log data may include your IP address, device information, browser type, and settings and information about your activity in the Services (such as the date/time stamps associated with your usage, pages and files viewed, searches, and other actions you take such as which features you use), device event information (such as system activity, error reports (sometimes called 'crash dumps'), and hardware settings).
                        </li>
                        <li>
                            <span class="font-medium">Device Data:</span> We collect device data such as information about your computer, phone, tablet, or other device you use to access the Services. Depending on the device used, this device data may include information such as your IP address (or proxy server), device and application identification numbers, location, browser type, hardware model, Internet service provider and/or mobile carrier, operating system, and system configuration information.
                        </li>
                        <li>
                            <span class="font-medium">Location Data:</span> We collect location data such as information about your device's location, which can be either precise or imprecise. How much information we collect depends on the type and settings of the device you use to access the Services. For example, we may use GPS and other technologies to collect geolocation data that tells us your current location (based on your IP address). You can opt out of allowing us to collect this information either by refusing access to the information or by disabling your Location setting on your device. However, if you choose to opt out, you may not be able to use certain aspects of the Services.
                        </li>
                    </ul>
                </div>

                <!-- Google API -->
                <div class="mb-8">
                    <h3 class="mb-3 text-2xl font-bold text-gray-900 dark:text-white">Google API</h3>
                    <p class="mb-4 font-light">
                        Our use of information received from Google APIs will adhere to 
                        <a href="https://developers.google.com/terms/api-services-user-data-policy" class="text-blue-600 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-200">Google API Services User Data Policy</a>, 
                        including the 
                        <a href="https://developers.google.com/terms/api-services-user-data-policy#limited-use" class="text-blue-600 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-200">Limited Use requirements</a>.
                    </p>
                </div>

                <!-- Information collected from other sources -->
                <div class="mb-8">
                    <h3 class="mb-3 text-2xl font-bold text-gray-900 dark:text-white">Information collected from other sources</h3>
                    <p class="mb-4 font-light italic">In Short: We may collect limited data from public databases, marketing partners, social media platforms, and other outside sources.</p>
                    
                    <p class="mb-4 font-light">In order to enhance our ability to provide relevant marketing, offers, and services to you and update our records, we may obtain information about you from other sources, such as public databases, joint marketing partners, affiliate programs, data providers, social media platforms, and from other third parties. This information includes mailing addresses, job titles, email addresses, phone numbers, intent data (or user behaviour data), Internet Protocol (IP) addresses, social media profiles, social media URLs, and custom profiles, for purposes of targeted advertising and event promotion.</p>
                    
                    <p class="mb-4 font-light">If you interact with us on a social media platform using your social media account (e.g. Facebook or X), we receive personal information about you from such platforms such as your name, email address, and gender. You may have the right to withdraw your consent to processing your personal information. Learn more about withdrawing your consent. Any personal information that we collect from your social media account depends on your social media account's privacy settings.</p>
                    
                    <p class="mb-4 font-light">Please note that their own use of your information is not governed by this Privacy Policy.</p>
                </div>


            <!-- Section 2 -->
            

            <div class="mb-8">
                <h2 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white">2. HOW DO WE PROCESS YOUR INFORMATION?</h2>
                <p class="mb-4 font-light italic">In Short: We process your information to provide, improve, and administer our Services, communicate with you, for security and fraud prevention, and to comply with law. We may also process your information for other purposes with your consent.</p>
                
                <p class="mb-4 font-light">We process your personal information for a variety of reasons, depending on how you interact with our Services, including:</p>
                
                <ul class="list-disc pl-6 mb-4 space-y-4 font-light">
                    <li>
                        <span class="font-medium">To facilitate account creation and authentication and otherwise manage user accounts.</span>
                        We may process your information so you can create and log in to your account, as well as keep your account in working order.
                    </li>
                    <li>
                        <span class="font-medium">To deliver and facilitate delivery of services to the user.</span>
                        We may process your information to provide you with the requested service.
                    </li>
                    <li>
                        <span class="font-medium">To request feedback.</span>
                        We may process your information when necessary to request feedback and to contact you about your use of our Services.
                    </li>
                    <li>
                        <span class="font-medium">To send you marketing and promotional communications.</span>
                        We may process the personal information you send to us for our marketing purposes, if this is in accordance with your marketing preferences. You can opt out of our marketing emails at any time. For more information, see 'WHAT ARE YOUR PRIVACY RIGHTS?' below.
                    </li>
                    <li>
                        <span class="font-medium">To protect our Services.</span>
                        We may process your information as part of our efforts to keep our Services safe and secure, including fraud monitoring and prevention.
                    </li>
                    <li>
                        <span class="font-medium">To identify usage trends.</span>
                        We may process information about how you use our Services to better understand how they are being used so we can improve them.
                    </li>
                    <li>
                        <span class="font-medium">To determine the effectiveness of our marketing and promotional campaigns.</span>
                        We may process your information to better understand how to provide marketing and promotional campaigns that are most relevant to you.
                    </li>
                    <li>
                        <span class="font-medium">To save or protect an individual's vital interest.</span>
                        We may process your information when necessary to save or protect an individual's vital interest, such as to prevent harm.
                    </li>
                </ul>
            </div>

            <!-- Section 3 -->

            <div class="mb-8">
                <h2 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white">3. WHAT LEGAL BASES DO WE RELY ON TO PROCESS YOUR INFORMATION?</h2>
                
                <p class="mb-4 font-light italic">In Short: We only process your personal information when we believe it is necessary and we have a valid legal reason (i.e. legal basis) to do so under applicable law, like with your consent, to comply with laws, to provide you with services to enter into or fulfil our contractual obligations, to protect your rights, or to fulfil our legitimate business interests.</p>
                
                <p class="mb-4 font-light"><strong>If you are located in the EU or UK, this section applies to you.</strong> The General Data Protection Regulation (GDPR) and UK GDPR require us to explain the valid legal bases we rely on in order to process your personal information. As such, we may rely on the following legal bases to process your personal information:</p>
                
                <ul class="list-disc pl-6 mb-4 space-y-4 font-light">
                    <li>
                        <span class="font-medium">Consent.</span>
                        We may process your information if you have given us permission (i.e. consent) to use your personal information for a specific purpose. You can withdraw your consent at any time. Learn more about withdrawing your consent.
                    </li>
                    
                    <li>
                        <span class="font-medium">Performance of a Contract.</span>
                        We may process your personal information when we believe it is necessary to fulfil our contractual obligations to you, including providing our Services or at your request prior to entering into a contract with you.
                    </li>
                    
                    <li>
                        <span class="font-medium">Legitimate Interests.</span>
                        We may process your information when we believe it is reasonably necessary to achieve our legitimate business interests and those interests do not outweigh your interests and fundamental rights and freedoms. For example, we may process your personal information for some of the purposes described in order to:
                        <ul class="list-disc pl-6 mt-2 space-y-2">
                            <li>Send users information about special offers and discounts on our products and services</li>
                            <li>Analyse how our Services are used so we can improve them to engage and retain users</li>
                            <li>Support our marketing activities</li>
                            <li>Diagnose problems and/or prevent fraudulent activities</li>
                            <li>Understand how our users use our products and services so we can improve user experience</li>
                        </ul>
                    </li>
                    
                    <li>
                        <span class="font-medium">Legal Obligations.</span>
                        We may process your information where we believe it is necessary for compliance with our legal obligations, such as to cooperate with a law enforcement body or regulatory agency, exercise or defend our legal rights, or disclose your information as evidence in litigation in which we are involved.
                    </li>
                    
                    <li>
                        <span class="font-medium">Vital Interests.</span>
                        We may process your information where we believe it is necessary to protect your vital interests or the vital interests of a third party, such as situations involving potential threats to the safety of any person.
                    </li>
                </ul>
            </div>

            <!-- Section 4 -->

            <div class="mb-8">
                <h2 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white">4. WHEN AND WITH WHOM DO WE SHARE YOUR PERSONAL INFORMATION?</h2>
                
                <p class="mb-4 font-light italic">In Short: We may share information in specific situations described in this section and/or with the following categories of third parties.</p>
                
                <div class="space-y-6 font-light">
                    <div>
                        <p class="font-medium mb-2">Vendors, Consultants, and Other Third-Party Service Providers.</p>
                        <p class="mb-4">We may share your data with third-party vendors, service providers, contractors, or agents ('<strong>third parties</strong>') who perform services for us or on our behalf and require access to such information to do that work. We have contracts in place with our third parties, which are designed to help safeguard your personal information. This means that they cannot do anything with your personal information unless we have instructed them to do it. They will also not share your personal information with any organisation apart from us. They also commit to protect the data they hold on our behalf and to retain it for the period we instruct.</p>
                        
                        <p class="mb-2">The categories of third parties we may share personal information with are as follows:</p>
                        <ul class="list-disc pl-6 space-y-2">
                            <li>AI Platforms</li>
                            <li>Cloud Computing Services</li>
                            <li>Communication & Collaboration Tools</li>
                            <li>Data Analytics Services</li>
                            <li>Data Storage Service Providers</li>
                            <li>Product Engineering & Design Tools</li>
                            <li>Retargeting Platforms</li>
                            <li>Sales & Marketing Tools</li>
                            <li>Website Hosting Service Providers</li>
                            <li>User Account Registration & Authentication Services</li>
                        </ul>
                    </div>

                    <div>
                        <p class="mb-2">We also may need to share your personal information in the following situations:</p>
                        <ul class="list-disc pl-6 space-y-4">
                            <li>
                                <span class="font-medium">Business Transfers.</span>
                                We may share or transfer your information in connection with, or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our business to another company.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Section 5 -->

            <div class="mb-8">
                <h2 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white">5. Do We Use Cookies and Other Tracking Technologies?</h2>
                <p class="mb-4 font-light italic">In Short: We may use cookies and other tracking technologies to collect and store your information.</p>
                
                <p class="mb-4 font-light">We may use cookies and similar tracking technologies (like web beacons and pixels) to gather information when you interact with our Services. Some online tracking technologies help us maintain the security of our Services and your account, prevent crashes, fix bugs, save your preferences, and assist with basic site functions.
                <br></br>
                We also permit third parties and service providers to use online tracking technologies on our Services for analytics and advertising, including to help manage and display advertisements, to tailor advertisements to your interests, or to send abandoned shopping cart reminders (depending on your communication preferences). The third parties and service providers use their technology to provide advertising about products and services tailored to your interests which may appear either on our Services or on other websites.
                <br></br>
                Specific information about how we use such technologies and how you can refuse certain cookies is set out in our Cookie Notice.</p>
            </div>

            <!-- Section 6 -->

            <div class="mb-8">
                <h2 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white">6. Do We Offer Artificial Intelligence-based Products?</h2>
                <p class="mb-4 font-light italic"><b>In Short:</b> We offer products, features, or tools powered by artificial intelligence, machine learning, or similar technologies.‍As part of our Services, we offer products, features, or tools powered by artificial intelligence, machine learning, or similar technologies (collectively, 'AI Products'). These tools are designed to enhance your experience and provide you with innovative solutions. The terms in this Privacy Policy govern your use of the AI Products within our Services.</p>
                
                <h3 class="mb-3 text-2xl font-bold text-gray-900 dark:text-white">Use of AI Technologies</h3>
                <p class="mb-4 font-light">‍We provide the AI Products through third-party service providers ('AI Service Providers'), including OpenAI. As outlined in this Privacy Policy, your input, output, and personal information will be shared with and processed by these AI Service Providers to enable your use of our AI Products for purposes outlined in 'WHAT LEGAL BASES DO WE RELY ON TO PROCESS YOUR PERSONAL INFORMATION?' You must not use the AI Products in any way that violates the terms or policies of any AI Service Provider.</p>
                
                <h3 class="mb-3 text-2xl font-bold text-gray-900 dark:text-white">Our AI Products</h3>
                <p class="mb-4 font-light">Our AI Products are designed for the following functions:</p>
                <ul class="list-disc pl-6 mb-4 font-light">
                    <li>AI insights</li>
                    <li>AI applications</li>
                    <li>AI deployment</li>
                    <li>AI automation</li>
                    <li>AI document generation</li>
                </ul>

                <h3 class="mb-3 text-2xl font-bold text-gray-900 dark:text-white">How We Process Your Data Using AI</h3>
                <p class="mb-4 font-light">‍‍All personal information processed using our AI Products is handled in line with our Privacy Policy and our agreement with third parties. This ensures high security and safeguards your personal information throughout the process, giving you peace of mind about your data's safety.</p>

                <h3 class="mb-3 text-2xl font-bold text-gray-900 dark:text-white">How to Opt Out</h3>
                <p class="mb-4 font-light">‍‍We believe in giving you the power to decide how your data is used. To opt out, you can Contact us using the contact information provided</p>
            </div>

            <!-- Section 7 -->

            <div class="mb-8">
                <h2 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white">7. How Long Do We Keep Your Information?</h2>
                <p class="mb-4 font-light italic"><b>In Short:</b> We keep your information for as long as necessary to fulfill the purposes outlined in this Privacy Notice unless otherwise required by law.</p>
                
                <p class="mb-4 font-light">We will only keep your personal information for as long as it is necessary for the purposes set out in this Privacy Policy, unless a longer retention period is required or permitted by law (such as tax, accounting, or other legal requirements). No purpose in this notice will require us keeping your personal information for longer than the period of time in which users have an account with us.
                <br></br>
                When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymise such information, or, if this is not possible (for example, because your personal information has been stored in backup archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.</p>
            </div>


            <!-- Section 8 -->


            <div class="mb-8">
                <h2 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white">8. How Do We Keep Your Information Safe?</h2>
                <p class="mb-4 font-light italic"><b>In Short:</b> We aim to protect your personal information through a system of organizational and technical security measures.</p>
                
                <p class="mb-4 font-light">‍We have implemented appropriate and reasonable technical and organisational security measures designed to protect the security of any personal information we process. However, despite our safeguards and efforts to secure your information, no electronic transmission over the Internet or information storage technology can be guaranteed to be 100% secure, so we cannot promise or guarantee that hackers, cybercriminals, or other unauthorised third parties will not be able to defeat our security and improperly collect, access, steal, or modify your information. Although we will do our best to protect your personal information, transmission of personal information to and from our Services is at your own risk. You should only access the Services within a secure environment.</p>
            </div>


            <!-- Section 9 -->

            <div class="mb-8">
                <h2 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white">9. Do We Collect Information From Minors?</h2>
                <p class="mb-4 font-light italic">In Short: We do not knowingly collect data from or market to children under 18 years of age.</p>
                
                <p class="mb-4 font-light">‍We do not knowingly collect, solicit data from, or market to children under 18 years of age, nor do we knowingly sell such personal information. By using the Services, you represent that you are at least 18 or that you are the parent or guardian of such a minor and consent to such minor dependent’s use of the Services. If we learn that personal information from users less than 18 years of age has been collected, we will deactivate the account and take reasonable measures to promptly delete such data from our records. If you become aware of any data we may have collected from children under age 18, please contact us at magnus@meshfirm.com.</p>
            </div>

            
            <!-- Section 10 -->

            <div class="mb-8">
                <h2 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white">10. WHAT ARE YOUR PRIVACY RIGHTS?</h2>
                
                <p class="mb-4 font-light italic">In Short: In some regions, such as the European Economic Area (EEA), United Kingdom (UK), Switzerland, and Canada, you have rights that allow you greater access to and control over your personal information. You may review, change, or terminate your account at any time, depending on your country, province, or state of residence.</p>
                
                <div class="space-y-6 font-light">
                    <div>
                        <p class="mb-4">In some regions (like the EEA, UK, Switzerland, and Canada), you have certain rights under applicable data protection laws. These may include the right (i) to request access and obtain a copy of your personal information, (ii) to request rectification or erasure; (iii) to restrict the processing of your personal information; (iv) if applicable, to data portability; and (v) not to be subject to automated decision-making. In certain circumstances, you may also have the right to object to the processing of your personal information.</p>
                        
                        <p class="mb-4">You can make such a request by contacting us by using the contact details provided in the section 'HOW CAN YOU CONTACT US ABOUT THIS NOTICE?' below. We will consider and act upon any request in accordance with applicable data protection laws.</p>
                        
                        <p class="mb-4">If you are located in the EEA or UK and you believe we are unlawfully processing your personal information, you also have the right to complain to your Member State data protection authority or UK data protection authority. If you are located in Switzerland, you may contact the Federal Data Protection and Information Commissioner.</p>
                    </div>

                    <div>
                        <h3 class="text-xl font-medium mb-2 text-gray-900 dark:text-white">Withdrawing your consent:</h3>
                        <p class="mb-4">If we are relying on your consent to process your personal information, which may be express and/or implied consent depending on the applicable law, you have the right to withdraw your consent at any time. You can withdraw your consent at any time by contacting us by using the contact details provided in the section 'HOW CAN YOU CONTACT US ABOUT THIS NOTICE?' below. However, please note that this will not affect the lawfulness of the processing before its withdrawal nor, when applicable law allows, will it affect the processing of your personal information conducted in reliance on lawful processing grounds other than consent.</p>
                    </div>

                    <div>
                        <h3 class="text-xl font-medium mb-2 text-gray-900 dark:text-white">Opting out of marketing and promotional communications:</h3>
                        <p class="mb-4">You can unsubscribe from our marketing and promotional communications at any time by clicking on the unsubscribe link in the emails that we send, or by contacting us using the details provided in the section 'HOW CAN YOU CONTACT US ABOUT THIS NOTICE?' below. You will then be removed from the marketing lists. However, we may still communicate with you — for example, to send you service-related messages that are necessary for the administration and use of your account, to respond to service requests, or for other non-marketing purposes.</p>
                    </div>

                    <div>
                        <h3 class="text-xl font-medium mb-2 text-gray-900 dark:text-white">Account Information</h3>
                        <p class="mb-4">If you would at any time like to review or change the information in your account or terminate your account, you can:</p>
                        <ul class="list-disc pl-6 mb-4">
                            <li>Contact us using the contact information provided.</li>
                        </ul>
                        <p class="mb-4">Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, we may retain some information in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our legal terms and/or comply with applicable legal requirements.</p>
                    </div>

                    <div>
                        <h3 class="text-xl font-medium mb-2 text-gray-900 dark:text-white">Cookies and similar technologies:</h3>
                        <p class="mb-4">Most Web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove cookies and to reject cookies. If you choose to remove cookies or reject cookies, this could affect certain features or services of our Services.</p>
                    </div>

                    <div>
                        <p>If you have questions or comments about your privacy rights, you may email us at magnus@meshfirm.com.</p>
                    </div>
                </div>
            </div>

            
            <!-- Section 11 -->

            <div class="mb-8">
                <h2 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white">11. CONTROLS FOR DO-NOT-TRACK FEATURES</h2>
                <p class="font-light">Most web browsers and some mobile operating systems and mobile applications include a Do-Not-Track ('DNT') feature or setting you can activate to signal your privacy preference not to have data about your online browsing activities monitored and collected. At this stage, no uniform technology standard for recognising and implementing DNT signals has been finalised. As such, we do not currently respond to DNT browser signals or any other mechanism that automatically communicates your choice not to be tracked online. If a standard for online tracking is adopted that we must follow in the future, we will inform you about that practice in a revised version of this Privacy Policy.</p>
            </div>

            
            <!-- Section 12 -->

            <div class="mb-8">
                <h2 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white">12. DO WE MAKE UPDATES TO THIS NOTICE?</h2>
                <p class="mb-4 font-light italic">In Short: Yes, we will update this notice as necessary to stay compliant with relevant laws.</p>
                <p class="font-light">We may update this Privacy Policy from time to time. The updated version will be indicated by an updated 'Revised' date at the top of this Privacy Policy. If we make material changes to this Privacy Policy, we may notify you either by prominently posting a notice of such changes or by directly sending you a notification. We encourage you to review this Privacy Policy frequently to be informed of how we are protecting your information.</p>
            </div>

            
            <!-- Section 13 -->

            <div class="mb-8">
                <h2 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white">13. HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</h2>
                <p class="font-light">If you have questions or comments about this notice, you may email us at <a href="mailto:magnus@meshfirm.com" class="text-blue-600 hover:underline dark:text-blue-400">magnus@meshfirm.com</a> or contact us by post at:</p>
                <address class="mt-4 font-light not-italic">
                    Mesh Firm ApS<br>
                    Vesterbrogade 26<br>
                    Copenhagen, Capital Region 1620<br>
                    Denmark
                </address>
            </div>

            
            <!-- Section 14 -->

            <div class="mb-8">
                <h2 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white">14. HOW CAN YOU REVIEW, UPDATE, OR DELETE THE DATA WE COLLECT FROM YOU?</h2>
                <p class="font-light">Based on the applicable laws of your country, you may have the right to request access to the personal information we collect from you, details about how we have processed it, correct inaccuracies, or delete your personal information. You may also have the right to withdraw your consent to our processing of your personal information. These rights may be limited in some circumstances by applicable law. To request to review, update, or delete your personal information, please fill out and submit a data subject access request.</p>
            </div>
            
        </div>
    </div>
</section>

    <Footer />
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>

</body>

</Layout>