<body>
    <!-- CustomerLogos start -->
    <section class="bg-white dark:bg-gray-900">
        <div class="mx-auto max-w-screen-xl">
            <div class="pb-12 px-4 flex flex-col md:flex-row gap-8 md:gap-16 items-center justify-center relative">
                <div class="w-32 md:w-auto">
                    <img class="h-[60px] w-auto dark:hidden" src="/mesh-firm-logo.png" alt="Mesh Firm logo" />
                    <img class="h-[60px] w-auto hidden dark:block" src="/mesh-firm-logo-inverted.png" alt="Mesh Firm logo" />
                </div>
                <div class="w-32 md:w-auto">
                    <img class="h-[60px] w-auto dark:hidden" src="/indus-valley-labs-logo.png" alt="Indus Valley Labs logo" />
                    <img class="h-[60px] w-auto hidden dark:block" src="/indus-valley-labs-logo.png" alt="Indus Valley Labs logo" />
                </div>
                <div class="w-32 md:w-auto">
                    <img class="h-[60px] w-auto dark:hidden" src="/wowbuddies-logo.png" alt="WowBuddies Logo" />
                    <img class="h-[60px] w-auto hidden dark:block" src="/wowbuddies-logo-inverted.png" alt="WowBuddies Logo" />
                </div>
            </div>
        </div>
    <!-- CustomerLogos end -->
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>

</body>