<body>
    <!-- CustomerLogos start -->
    <section class="bg-white dark:bg-gray-900">
        <div class="mx-auto max-w-screen-xl">
            <div class="pb-12 px-4 flex flex-col md:flex-row gap-8 md:gap-16 items-center justify-center relative">
                <div class="w-32 md:w-auto">
                    <img class="h-[60px] w-auto dark:hidden" src="/mesh-firm-logo.png" alt="Mesh Firm Logo" />
                    <img class="h-[60px] w-auto hidden dark:block" src="/mesh-firm-logo-inverted.png" alt="Mesh Firm Logo" />
                </div>
                <div class="w-32 md:w-auto">
                    <img class="h-10 w-auto dark:hidden" src="/trackunit-logo.png" alt="Trackunit Logo" />
                    <img class="h-10 w-auto hidden dark:block" src="/trackunit-logo.png" alt="Trackunit Logo" />
                </div>
                <div class="w-32 md:w-auto">
                    <img class="h-[45px] w-auto dark:hidden" src="/artelize-logo.png" alt="Artelize Logo" />
                    <img class="h-[45px] w-auto hidden dark:block" src="/artelize-logo-inverted.png" alt="Artelize Logo" />
                </div>
                <div class="w-32 md:w-auto flex items-center">
                    <img class="h-[35px] w-auto dark:hidden" src="/abtion-logo.png" alt="Abtion Logo" />
                    <img class="h-[35px] w-auto ml-2.5 dark:hidden" src="/abtion-name.png" alt="Abtion Name" />
                    <img class="h-[35px] w-auto hidden dark:block" src="/abtion-logo-inverted.png" alt="Abtion Logo" />
                    <img class="h-[35px] w-auto ml-2.5 hidden dark:block" src="/abtion-name-inverted.png" alt="Abtion Name" />
                </div>
                <div class="w-32 md:w-auto">
                    <img class="h-10 w-auto dark:hidden" src="/delogue-logo.png" alt="Delogue Logo" />
                    <img class="h-10 w-auto hidden dark:block" src="/delogue-logo-inverted.png" alt="Delogue Logo" />
                </div>
            </div>
        </div>
    <!-- CustomerLogos end -->
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>

</body>