<!DOCTYPE html>
<html lang="en" class="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketing UI</title>
    <link href="../../dist/output.css" rel="stylesheet">
</head>

<body>

    <!-- Block start -->
    <section class="bg-white dark:bg-gray-900">
        <div
            class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 xl:gap-16 sm:py-16 lg:px-6 ">
            <div class="text-gray-500 dark:text-gray-400 sm:text-lg">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Productive meetings and a highly aligned organisation</h2>
                <p class="mb-8 font-light lg:text-xl">Sindre acts as an engaged coworker that participates in meetings and conversations. It takes smart notes, captures key discussion points, and tracks action items so you can focus on what matters most. </p>
                <div class="py-8 mb-6 border-t border-b border-gray-200 dark:border-gray-700">
                    <div class="flex">
                        <div
                            class="flex justify-center items-center mr-4 w-8 h-8 rounded-full bg-brand-100 dark:bg-brand-800 shrink-0">
                            <svg class="w-5 h-5 text-brand-800 dark:text-brand-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                            </svg>
                        </div>
                        <div>
                            <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Smart Note-Taking</h3>
                            <p class="mb-2 font-light text-gray-500 dark:text-gray-400">Automatically records essential details, ensuring nothing is missed.</p>
                        </div>
                    </div>
                    <div class="flex pt-8">
                        <div
                            class="flex justify-center items-center mr-4 w-8 h-8 bg-purple-100 rounded-full dark:bg-purple-900 shrink-0">
                            <svg class="w-5 h-5 text-purple-600 dark:text-purple-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.03v13m0-13c-2.819-.831-4.715-1.076-8.029-1.023A.99.99 0 0 0 3 6v11c0 .563.466 1.014 1.03 1.007 3.122-.043 5.018.212 7.97 1.023m0-13c2.819-.831 4.715-1.076 8.029-1.023A.99.99 0 0 1 21 6v11c0 .563-.466 1.014-1.03 1.007-3.122-.043-5.018.212-7.97 1.023"/>
                            </svg>
                        </div>
                        <div>
                            <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Best Practice Insights</h3>
                            <p class="mb-2 font-light text-gray-500 dark:text-gray-400">Shares relevant suggestions tailored to your discussions.</p>
                        </div>
                    </div>
                    <div class="flex pt-8">
                        <div
                            class="flex justify-center items-center mr-4 w-8 h-8 bg-brand-100 rounded-full dark:bg-brand-800 shrink-0">
                            <svg class="w-5 h-5 text-brand-800 dark;text-brand-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.779 17.779 4.36 19.918 6.5 13.5m4.279 4.279 8.364-8.643a3.027 3.027 0 0 0-2.14-5.165 3.03 3.03 0 0 0-2.14.886L6.5 13.5m4.279 4.279L6.499 13.5m2.14 2.14 6.213-6.504M12.75 7.04 17 11.28"/>
                            </svg>
                        </div>
                        <div>
                            <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Real-Time Collaboration</h3>
                            <p class="mb-2 font-light text-gray-500 dark:text-gray-400">Participates actively, providing instant feedback and support.</p>
                        </div>
                    </div>
                    <div class="flex pt-8">
                        <div
                            class="flex justify-center items-center mr-4 w-8 h-8 bg-brand-100 rounded-full dark:bg-brand-800 shrink-0">
                            <svg class="w-5 h-5 text-brand-800 dark;text-brand-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                            </svg>
                        </div>
                        <div>
                            <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Task Management</h3>
                            <p class="mb-2 font-light text-gray-500 dark:text-gray-400">Assigns tasks directly during meetings and keeps track of deadlines.</p>
                        </div>
                    </div>
                    <div class="flex pt-8">
                        <div
                            class="flex justify-center items-center mr-4 w-8 h-8 bg-brand-100 rounded-full dark:bg-brand-800 shrink-0">
                            <svg class="w-5 h-5 text-brand-800 dark;text-brand-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 17h6m-3 3v-6M4.857 4h4.286c.473 0 .857.384.857.857v4.286a.857.857 0 0 1-.857.857H4.857A.857.857 0 0 1 4 9.143V4.857C4 4.384 4.384 4 4.857 4Zm10 0h4.286c.473 0 .857.384.857.857v4.286a.857.857 0 0 1-.857.857h-4.286A.857.857 0 0 1 14 9.143V4.857c0-.473.384-.857.857-.857Zm-10 10h4.286c.473 0 .857.384.857.857v4.286a.857.857 0 0 1-.857.857H4.857A.857.857 0 0 1 4 19.143v-4.286c0-.473.384-.857.857-.857Z"/>
                            </svg>
                        </div>
                        <div>
                            <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Seamless Integration</h3>
                            <p class="mb-2 font-light text-gray-500 dark:text-gray-400">Easily integrates with your preferred tools for a smooth workflow.</p>
                        </div>
                    </div>
                </div>
            </div>
            <img class="w-full rounded-lg"
                src="/meeting-summaries.png"
                alt="feature image">
        </div>
    </section>
    <!-- Block end -->

    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
</body>

</html>