<!DOCTYPE html>
<html lang="en" class="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketing UI</title>
    <link href="../../dist/output.css" rel="stylesheet">
</head>

<body>

    <!-- Block start -->
    <section class="bg-gray-50 dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-16">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Unleash your Full Product Management Potential</h2>
                <p class="font-light text-gray-500 dark:text-gray-400 sm:text-xl">Product management is not just about keeping up, but about leading. <br>With Sindre, you get ahead.</p>
            </div>
            <div class="space-y-8 md:grid grid-cols-2 md:gap-8 xl:gap-8 md:space-y-0">
                <div class="p-6 bg-white rounded shadow dark:bg-gray-800">
                    <div
                        class="flex justify-center items-center mb-4 w-10 h-10 rounded bg-brand-100 lg:h-12 lg:w-12 dark:bg-brand-800">
                        <svg class="w-5 h-5 text-brand-800 lg:w-6 lg:h-6 dark:text-brand-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16.872 9.687 20 6.56 17.44 4 4 17.44 6.56 20 16.873 9.687Zm0 0-2.56-2.56M6 7v2m0 0v2m0-2H4m2 0h2m7 7v2m0 0v2m0-2h-2m2 0h2M8 4h.01v.01H8V4Zm2 2h.01v.01H10V6Zm2-2h.01v.01H12V4Zm8 8h.01v.01H20V12Zm-2 2h.01v.01H18V14Zm2 2h.01v.01H20V16Z"/>
                        </svg>
                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-white">Enhanced Productivity</h3>
                    <p class="font-light text-gray-500 dark:text-gray-400">Spend less time on administrative tasks and more time on strategic initiatives. Sindre takes care of the details, allowing you to focus on what truly matters—driving your product forward.</p>
                </div>
                <div class="p-6 bg-white rounded shadow dark:bg-gray-800">
                    <div
                        class="flex justify-center items-center mb-4 w-10 h-10 rounded bg-brand-100 lg:h-12 lg:w-12 dark:bg-brand-800">
                        <svg class="w-5 h-5 text-brand-800 lg:w-6 lg:h-6 dark:text-brand-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m4 10v-2m3 2v-6m3 6v-3m4-11v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z"/>
                        </svg>
                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-white">Informed Decision-Making</h3>
                    <p class="font-light text-gray-500 dark:text-gray-400">With real-time insights and comprehensive notes from customer interactions, you can make decisions based on solid data rather than guesswork. Sindre ensures you have the context you need to prioritize effectively.</p>
                </div>
                <div class="p-6 bg-white rounded shadow dark:bg-gray-800">
                    <div
                        class="flex justify-center items-center mb-4 w-10 h-10 rounded bg-brand-100 lg:h-12 lg:w-12 dark:bg-brand-800">
                        <svg class="w-5 h-5 text-brand-800 lg:w-6 lg:h-6 dark:text-brand-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 16 4-4-4-4m6 8 4-4-4-4"/>
                        </svg>
                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-white">Improved Team Alignment</h3>
                    <p class="font-light text-gray-500 dark:text-gray-400">Sindre fosters collaboration and keeps everyone on the same page. With clear documentation and shared insights, your team can work more cohesively, reducing misunderstandings and increasing efficiency.</p>
                </div>
                <div class="p-6 bg-white rounded shadow dark:bg-gray-800">
                    <div
                        class="flex justify-center items-center mb-4 w-10 h-10 rounded bg-brand-100 lg:h-12 lg:w-12 dark:bg-brand-800">
                        <svg class="w-5 h-5 text-brand-800 lg:w-6 lg:h-6 dark:text-brand-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4.5 17H4a1 1 0 0 1-1-1 3 3 0 0 1 3-3h1m0-3.05A2.5 2.5 0 1 1 9 5.5M19.5 17h.5a1 1 0 0 0 1-1 3 3 0 0 0-3-3h-1m0-3.05a2.5 2.5 0 1 0-2-4.45m.5 13.5h-7a1 1 0 0 1-1-1 3 3 0 0 1 3-3h3a3 3 0 0 1 3 3 1 1 0 0 1-1 1Zm-1-9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"/>
                        </svg>
                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-white">Customer-Centric Development</h3>
                    <p class="font-light text-gray-500 dark:text-gray-400">By representing customer needs and feedback, Sindre helps you build products that resonate with your audience, ultimately leading to higher satisfaction and loyalty.</p>
                </div>                
            </div>
        </div>
    </section>
    <!-- Block end -->

    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
</body>

</html>