<!DOCTYPE html>
<html lang="en" class="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketing UI</title>
    <link href="../../dist/output.css" rel="stylesheet">
</head>

<body>

    <!-- Block start -->
    <section class="bg-white dark:bg-gray-900">
        <div
            class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 xl:gap-16 sm:py-16 lg:px-6 ">
            <img class="mb-4 w-full lg:mb-0 rounded-lg"
                src="/vertical-bar-chart.png"
                alt="feature image">
            <div class="text-gray-500 dark:text-gray-400 sm:text-lg">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Escape the Build Trap with Customer Insights</h2>
                <p class="mb-8 font-light lg:text-xl">Gain a deep understanding of your customers, make informed decisions, and drive growth with actionable insights.</p>
                <div class="py-8 mb-6 border-t border-b border-gray-200 dark:border-gray-700">
                    <div class="flex">
                        <div
                            class="flex justify-center items-center mr-4 w-8 h-8 rounded-full bg-brand-100 dark:bg-brand-800 shrink-0">
                            <svg class="w-5 h-5 text-brand-800 dark:text-brand-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.005 11.19V12l6.998 4.042L19 12v-.81M5 16.15v.81L11.997 21l6.998-4.042v-.81M12.003 3 5.005 7.042l6.998 4.042L19 7.042 12.003 3Z"/>
                            </svg>
                        </div>
                        <div>
                            <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Multi-Source Data Collection</h3>
                            <p class="mb-2 font-light text-gray-500 dark:text-gray-400">Aggregate feedback, usage analytics, and market research in one place.</p>
                        </div>
                    </div>
                    <div class="flex pt-8">
                        <div
                            class="flex justify-center items-center mr-4 w-8 h-8 bg-purple-100 rounded-full dark:bg-purple-900 shrink-0">
                            <svg class="w-5 h-5 text-purple-600 dark:text-purple-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.651 7.65a7.131 7.131 0 0 0-12.68 3.15M18.001 4v4h-4m-7.652 8.35a7.13 7.13 0 0 0 12.68-3.15M6 20v-4h4"/>
                            </svg>
                        </div>
                        <div>
                            <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Continuous Discovery</h3>
                            <p class="mb-2 font-light text-gray-500 dark:text-gray-400">Align your product with evolving customer needs. </p>
                        </div>
                    </div>
                    <div class="flex pt-8">
                        <div
                            class="flex justify-center items-center mr-4 w-8 h-8 bg-brand-100 rounded-full dark:bg-brand-800 shrink-0">
                            <svg class="w-5 h-5 text-brand-800 dark:text-brand-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 9a3 3 0 0 1 3-3m-2 15h4m0-3c0-4.1 4-4.9 4-9A6 6 0 1 0 6 9c0 4 4 5 4 9h4Z"/>
                            </svg>
                        </div>
                        <div>
                            <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Actionable Insights</h3>
                            <p class="mb-2 font-light text-gray-500 dark:text-gray-400">Receive clear recommendations to guide product development, marketing, and customer engagement.</p>
                        </div>
                    </div>
                    <div class="flex pt-8">
                        <div
                            class="flex justify-center items-center mr-4 w-8 h-8 bg-brand-100 rounded-full dark:bg-brand-800 shrink-0">
                            <svg class="w-5 h-5 text-brand-800 dark:text-brand-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m4 8h6m-6-4h6m4-8v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z"/>
                            </svg>
                        </div>
                        <div>
                            <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Product Definition</h3>
                            <p class="mb-2 font-light text-gray-500 dark:text-gray-400">Clearly define your product vision and goals based on customer feedback and market trends.</p>
                        </div>
                    </div>
                    <div class="flex pt-8">
                        <div
                            class="flex justify-center items-center mr-4 w-8 h-8 bg-brand-100 rounded-full dark:bg-brand-800 shrink-0">
                            <svg class="w-5 h-5 text-brand-800 dark:text-brand-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m4 10v-2m3 2v-6m3 6v-3m4-11v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z"/>
                            </svg>
                        </div>
                        <div>
                            <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Specify work based on insights</h3>
                            <p class="mb-2 font-light text-gray-500 dark:text-gray-400">Create targeted work items that address specific customer pain points and opportunities for growth.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Block end -->

    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
</body>

</html>