<!DOCTYPE html>
<html lang="en" class="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketing UI</title>
    <link href="../../dist/output.css" rel="stylesheet">
</head>

<body>

    <!-- Block start -->
    <footer class="p-4 bg-white sm:p-6 dark:bg-gray-800">
        <div class="mx-auto max-w-screen-xl">
            <div class="md:flex md:justify-between">
                <div class="mb-6 md:mb-0">
                    <a href="https://sindre.ai" class="flex items-center">
                        <img src="/sindre_logo.png" class="mr-3 h-8" alt="Sindre Logo" />
                        <span
                            class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Sindre AI</span>
                    </a>
                </div>
                <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Resources</h2>
                        <ul class="text-gray-600 dark:text-gray-400">
                            <li class="mb-4">
                                <a href="https://sindre.ai/contact" class="hover:underline">Contact</a>
                            </li>
                            <li class="mb-4">
                                <a href="https://sindre.ai/pricing" class="hover:underline">Pricing</a>
                            </li>
                            <li class="mb-4">
                                <a href="https://sindre.ai/blog" class="hover:underline">Blog</a>
                            </li>
                            <li class="mb-4">
                                <a href="https://playbook.sindre.ai" 
                                target="_blank"
                                rel="noopener noreferrer"
                                class="hover:underline">PM Playbook</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Apps</h2>
                        <ul class="text-gray-600 dark:text-gray-400">
                            <li class="mb-4">
                                <a href="https://meshfirm.github.io/notetaker" class="hover:underline ">Notetaker</a>
                            </li>
                            <li class="mb-4">
                                <a href="https://meshfirm.github.io/hubspot" class="hover:underline">Hubspot App</a>
                            </li>
                            <li class="mb-4">
                                <a href="https://sindre.ai/slack" class="hover:underline">Slack App</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h2>
                        <ul class="text-gray-600 dark:text-gray-400">
                            <li class="mb-4">
                                <a href="https://sindre.ai/privacy-policy" class="hover:underline">Privacy Policy</a>
                            </li>
                            <li class="mb-4">
                                <a href="https://sindre.ai/terms-and-conditions" class="hover:underline">Terms &amp; Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
            <div class="sm:flex sm:items-center sm:justify-between">
                <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 <a
                        href="https://sindre.ai" class="hover:underline">Sindre</a>. All Rights Reserved.
                </span>
            </div>
        </div>
    </footer>
    <!-- Block end -->

</body>

</html>