<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketing UI</title>
    <link href="../../dist/output.css" rel="stylesheet">
</head>

<body>
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 mt-10">
            <!-- Hero Section -->
            <div class="grid gap-8 items-center mb-8 lg:mb-24 lg:gap-12 lg:grid-cols-12">
                <div class="col-span-6 text-left sm:mb-6 lg:text-left lg:mb-0">
                    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl xl:text-6xl dark:text-white">
                        The World's First Digital Product Manager
                    </h1>
                    <p class="mb-6 max-w-xl font-light text-gray-500 xl:mb-8 md:text-lg xl:text-xl dark:text-gray-400">
                        Say goodbye to the chaos of traditional product management and hello to a smarter, more efficient way to drive product success.
                    </p>
                    <form action="#" class="">
                        <div class="space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
                            <div class="relative">
                                <label for="email" class="hidden mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                    Email address
                                </label>
                                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                                    <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                                        <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
                                    </svg>
                                </div>
                                <input class="block p-3 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:w-80 xl:w-96 focus:ring-brand-800 focus:border-brand-800 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-brand-800 dark:focus:border-brand-800"
                                    placeholder="Enter your email" type="email" id="email" required="">
                            </div>
                            <button type="submit" class="w-full sm:w-auto justify-center text-white bg-brand-800 hover:bg-brand-600 focus:ring-4 focus:outline-none focus:ring-brand-100 font-medium rounded-lg px-5 py-2.5 text-center inline-flex items-center dark:bg-brand-800 dark:hover:bg-brand-600 dark:focus:ring-brand-800">
                                Sign up
                                <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-span-6 flex justify-end items-center">
                    <img class="rounded-lg shrink-0 w-[400px] h-[400px] relative" style="object-fit: cover" src="/src/assets/sindre_avatar_with_name_square.png" alt="Sindre" />
                </div>
            </div>

            <!-- Features Section -->
            <div class="grid lg:grid-cols-3 gap-12">
                <!-- Feature 1 -->
                <div class="grid grid-cols-[auto_1fr]">
                    <div class="flex justify-center items-top w-10 h-10 lg:h-12 lg:w-12">
                        <svg class="w-5 h-5 text-brand-800 lg:w-6 lg:h-6 dark:text-brand-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16.872 9.687 20 6.56 17.44 4 4 17.44 6.56 20 16.873 9.687Zm0 0-2.56-2.56M6 7v2m0 0v2m0-2H4m2 0h2m7 7v2m0 0v2m0-2h-2m2 0h2M8 4h.01v.01H8V4Zm2 2h.01v.01H10V6Zm2-2h.01v.01H12V4Zm8 8h.01v.01H20V12Zm-2 2h.01v.01H18V14Zm2 2h.01v.01H20V16Z"/>
                        </svg>
                    </div>
                    <div class="space-y-2">
                        <h3 class="text-xl font-bold dark:text-white">Fine-Tuned AI for Product Management</h3>
                        <p class="text-gray-500 dark:text-gray-400">Leverage an AI designed specifically for product management, equipped with industry best practices.</p>
                    </div>
                </div>

                <!-- Feature 2 -->
                <div class="grid grid-cols-[auto_1fr]">
                    <div class="flex justify-center items-top w-10 h-10 lg:h-12 lg:w-12">
                        <svg class="w-5 h-5 text-brand-800 lg:w-6 lg:h-6 dark:text-brand-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14v3m-3-6V7a3 3 0 1 1 6 0v4m-8 0h10a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-7a1 1 0 0 1 1-1Z"/>
                        </svg>

                    </div>
                    <div class="space-y-2">
                        <h3 class="text-xl font-bold dark:text-white">Secure Data Handling</h3>
                        <p class="text-gray-500 dark:text-gray-400">Your company data is handled securely. Sindre utilizes uploads and integrations to protect sensitive information while providing valuable insights tailored to your needs.</p>
                    </div>
                </div>

                <!-- Feature 3 -->
                <div class="grid grid-cols-[auto_1fr]">
                    <div class="flex justify-center items-top w-10 h-10 lg:h-12 lg:w-12">
                        <svg class="w-5 h-5 text-brand-800 lg:w-6 lg:h-6 dark:text-brand-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961"/>
                        </svg>
                    </div>
                    <div class="space-y-2">
                        <h3 class="text-xl font-bold dark:text-white">AI PM Agent</h3>
                        <p class="text-gray-500 dark:text-gray-400">Sindre builds knowledge and product sense from discussions in meetings and conversations allowing you to focus on strategic work.</p>
                    </div>
                </div>
            </div>

            <!-- Logo Section -->
            <div class="pt-24 pr-0 pb-24 pl-0 flex flex-row gap-16 items-center justify-center shrink-0 relative">
                <div class="flex flex-col gap-2.5 items-start justify-start shrink-0 relative">
                    <img class="shrink-0 w-[106.67px] h-[60px] relative" style="object-fit: cover" src="/src/assets/mesh-firm-logo.png" />
                </div>
                <div class="flex flex-col gap-2.5 items-start justify-start shrink-0 relative">
                    <img class="shrink-0 w-[163px] h-10 relative" style="object-fit: cover" src="/src/assets/trackunit-logo.png" />
                </div>
                <div class="flex flex-col gap-2.5 items-start justify-start shrink-0 relative overflow-hidden">
                    <img class="shrink-0 w-[107.79px] h-[45px] relative" style="object-fit: cover" src="/src/assets/artelize-logo.png" />
                </div>
                <div class="flex flex-row gap-2.5 items-start justify-start shrink-0 relative overflow-hidden">
                    <img class="shrink-0 w-[35px] h-[35px] relative" style="object-fit: cover" src="/src/assets/abtion-logo.png" />
                    <img class="shrink-0 w-[105.42px] h-[35px] relative" style="object-fit: cover" src="/src/assets/abtion-name.png" />
                </div>
                <div class="flex flex-row gap-2.5 items-start justify-start shrink-0 relative overflow-hidden">
                    <img class="shrink-0 w-[161.63px] h-10 relative" style="object-fit: cover" src="/src/assets/delogue-logo.png" />
                </div>
            </div>
        </div>
    </section>

    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
</body>
</html>