<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sindre</title>
    <link href="../../dist/output.css" rel="stylesheet">
</head>

<body>

    <!-- Block start -->
    <section class="bg-white dark:bg-gray-900">
    <div class="grid gap-8 py-8 px-4 mx-auto max-w-screen-xl sm:gap-16 lg:gap-20 md:grid-cols-2 lg:py-16 md:px-6">
        <div class="text-gray-500 sm:text-lg dark:text-gray-400 mb-8">
            <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 md:text-4xl dark:text-white">Connect Effortlessly with Your Favourite Tools</h2>
            <p class="font-light lg:text-xl">Sindre works seamlessly with the tools teams already use, enhancing your workflow and boosting productivity. Say goodbye to siloed data and hello to a unified product management experience.</p>
        </div>
        <div class="grid grid-cols-2 gap-8 text-gray-500 sm:gap-12 sm:grid-cols-3 dark:text-gray-400">
            <a class="flex items-center space-x-3 hover:text-gray-900 dark:hover:text-white">
                <img class="w-[28px] h-[28px]" src="/Jira.svg" alt="Jira logo" />
                <span>Jira</span>
            </a>
            <a class="flex items-center space-x-3 hover:text-gray-900 dark:hover:text-white">
                <img class="w-[28px] h-[28px]" src="/slack.png" alt="Slack logo" />
                <span>Slack</span>
            </a>
            <a class="flex items-center space-x-3 hover:text-gray-900 dark:hover:text-white">
                <img class="w-[28px] h-[28px]" src="/Gmail.png" alt="Gmail logo" />
                <span>Gmail</span>
            </a>
            <a class="flex items-center space-x-3 hover:text-gray-900 dark:hover:text-white">
                <img class="w-[28px] h-[28px]" src="/asana.png" alt="Asana logo" />
                <span>Asana</span>
            </a>
            <a class="flex items-center space-x-3 hover:text-gray-900 dark:hover:text-white">
                <img class="w-[28px] h-[28px]" src="/dropbox.png" alt="Dropbox logo" />
                <span>Dropbox</span>
            </a>
            <a class="flex items-center space-x-3 hover:text-gray-900 dark:hover:text-white">
                <img class="w-[28px] h-[28px]" src="/google-drive.png" alt="Google Drive logo" />
                <span>Google Drive</span>
            </a>
            <a class="flex items-center space-x-3 hover:text-gray-900 dark:hover:text-white">
                <img class="w-[28px] h-[28px]" src="/Linear.png" alt="Linear logo" />
                <span>Linear</span>
            </a>
            <a class="flex items-center space-x-3 hover:text-gray-900 dark:hover:text-white">
                <img class="w-[28px] h-[28px]" src="/Hubspot.png" alt="Hubspot logo" />
                <span>Hubspot</span>
            </a>
            <a class="flex items-center space-x-3 hover:text-gray-900 dark:hover:text-white">
                <img class="w-[28px] h-[28px]" src="/google-meet.png" alt="Google Meet logo" />
                <span>Google Meet</span>
            </a>
            <a class="flex items-center space-x-3 hover:text-gray-900 dark:hover:text-white">
                <img class="w-[28px] h-[28px]" src="/zoom.svg" alt="Zoom logo" />
                <span>Zoom</span>
            </a>
            <a class="flex items-center space-x-3 hover:text-gray-900 dark:hover:text-white">
                <img class="w-[28px] h-[28px]" src="/productboard-logo.png" alt="Productboard logo" />
                <span>Productboard</span>
            </a>
            <a class="flex items-center space-x-3 hover:text-gray-900 dark:hover:text-white">
                <img class="w-[28px] h-[28px]" src="/microsoft-teams.png" alt="Microsoft Teams logo" />
                <span>Microsoft Teams</span>
            </a>
        </div>
    </div>
</section>
    <!-- Block end -->
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>

</body>

</html>