<!DOCTYPE html>
<html lang="en" class="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketing UI</title>
    <link href="../../dist/output.css" rel="stylesheet">
</head>

<body>

    <!-- Block start -->
    <section class="bg-white dark:bg-gray-900">
    <div class="grid gap-8 py-8 px-4 mx-auto max-w-screen-xl sm:gap-16 lg:gap-20 md:grid-cols-2 lg:py-16 md:px-6">
        <div class="text-gray-500 sm:text-lg dark:text-gray-400 mb-8">
            <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 md:text-4xl dark:text-white">Connect Effortlessly with Your Favourite Tools</h2>
            <p class="font-light lg:text-xl">Sindre works seamlessly with the tools teams already use, enhancing your workflow and boosting productivity. Say goodbye to siloed data and hello to a unified product management experience.</p>
        </div>
        <div class="grid grid-cols-2 gap-8 text-gray-500 sm:gap-12 sm:grid-cols-3 dark:text-gray-400">
            <a class="flex items-center space-x-3 hover:text-gray-900 dark:hover:text-white">
                <img class="w-[28px] h-[28px]" src="/src/assets/Jira.svg" alt="Jira" />
                <span>Jira</span>
            </a>
            <a class="flex items-center space-x-3 hover:text-gray-900 dark:hover:text-white">
                <img class="w-[28px] h-[28px]" src="/src/assets/slack.png" alt="Slack" />
                <span>Slack</span>
            </a>
            <a class="flex items-center space-x-3 hover:text-gray-900 dark:hover:text-white">
                <img class="w-[28px] h-[28px]" src="/src/assets/Gmail.png" alt="Gmail" />
                <span>Gmail</span>
            </a>
            <a class="flex items-center space-x-3 hover:text-gray-900 dark:hover:text-white">
                <img class="w-[28px] h-[28px]" src="/src/assets/asana.png" alt="Asana" />
                <span>Asana</span>
            </a>
            <a class="flex items-center space-x-3 hover:text-gray-900 dark:hover:text-white">
                <img class="w-[28px] h-[28px]" src="/src/assets/dropbox.png" alt="Dropbox" />
                <span>Dropbox</span>
            </a>
            <a class="flex items-center space-x-3 hover:text-gray-900 dark:hover:text-white">
                <img class="w-[28px] h-[28px]" src="/src/assets/google-drive.png" alt="Google Drive" />
                <span>Google Drive</span>
            </a>
            <a class="flex items-center space-x-3 hover:text-gray-900 dark:hover:text-white">
                <img class="w-[28px] h-[28px]" src="/src/assets/Linear.png" alt="Linear" />
                <span>Linear</span>
            </a>
            <a class="flex items-center space-x-3 hover:text-gray-900 dark:hover:text-white">
                <img class="w-[28px] h-[28px]" src="/src/assets/Hubspot.png" alt="Hubspot" />
                <span>Hubspot</span>
            </a>
            <a class="flex items-center space-x-3 hover:text-gray-900 dark:hover:text-white">
                <img class="w-[28px] h-[28px]" src="/src/assets/google-meet.png" alt="Google Meet" />
                <span>Google Meet</span>
            </a>
        </div>
    </div>
</section>
    <!-- Block end -->

    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
</body>

</html>